@use '../variables' as *;
@use '../mixins' as *;

.header__decor {
  position: relative;
  top: 0;
  left: 0;
  @for $i from 1 through 5 {
    .oval--#{$i} {
      width: 530px;
      height: 80px;
      border: 1px solid $c-ink-title;
      border-radius: 50%;
      opacity: 0.3;
      position: absolute;
      left: -460px;
      top: 124px + (($i - 1) * 12px);
      z-index: -2;
  /* 📔 */
      @include respond(md){
        left: -265px;
        top: 86px + (($i - 1) * 12px);
      }
  /* 💻 */
      @include respond(lg){
        left: -260px;
        top: 115px + (($i - 1) * 12px);
      }
    }
  }

  .circle{
    width: 129px;
    height: 129px;
    background: none;
    border-radius: 50%;
    border: 1px solid $c-ink;
    position: absolute;
    &--1{
      top: 254px;
      right: -190px;
  /* 📔 */
      @include respond(md){
        right: -72px;
        top: 456px;
      }
  /* 💻 */
      @include respond(lg){
        right: 380px;
        top: 540px;
      }
    }
  }

}


.skills__decor_2 {
  z-index: -1;
  position: relative;
  margin-top: 0px;
  top: 0;
  left: 0;
  @for $i from 1 through 5 {
    .oval--#{$i} {
      width: 530px;
      height: 80px;
      background: none;
      border: 1px solid $c-ink-title;
      border-radius: 50%;
      opacity: 0.3;
      position: absolute;
      left: 200px;
      top: -105px + (($i - 1) * 12px);
    }
  }
/* 📔 */
  @include respond(md){
    left: 375px;
    top: 35px;
  }
/* 💻 */
  @include respond(lg){
    left: 800px;
  }
}


.footer__decor {
  z-index: -1;
  position: relative;
  top: 100px;
  left: 0px;
  @for $i from 1 through 5 {
    .oval--#{$i} {
      width: 530px;
      height: 80px;
      background: none;
      border: 1px solid $c-ink-title;
      border-radius: 50%;
      opacity: 0.3;
      position: absolute;
      left: -545px;
      top: -290px + (($i - 1) * 12px);
    }
  /* 📔 */
    @include respond(md){
      top: 170px;
      left: -200px;
    }
  /* 💻 */
    @include respond(lg){
      left: -370px;
      top: 140px;
    }
  }
}