@use '../variables' as *;
@use '../mixins' as *;

.header__decor {
  position: relative;

  @for $i from 1 through 5 {
    .oval--#{$i} {
      width: 530px;
      height: 80px;
      border: 1px solid $c-ink-title;
      border-radius: 50%;
      opacity: 0.3;
      position: absolute;
      left: -460px;
      top: 124px + (($i - 1) * 12px);
      @include respond(md){
        left: -265px;
        top: 86px + (($i - 1) * 12px);
      }
    }
  }

  .circle{
    width: 129px;
    height: 129px;
    background: none;
    border-radius: 50%;
    border: 1px solid $c-ink;
    position: absolute;
    &--1{
      top: 254px;
      right: -190px;
      @include respond(md){
        right: -72px;
        top: 456px;
      }
    }
  }
}


.skills__decor_2 {
  z-index: -1;
  position: relative;
  margin-top: 0px;
  @for $i from 1 through 5 {
    .oval--#{$i} {
      width: 530px;
      height: 80px;
      background: none;
      border: 1px solid $c-ink-title;
      border-radius: 50%;
      opacity: 0.3;
      position: absolute;
      left: 0px;
      top: -65px + (($i - 1) * 12px);
    }
  }
  @include respond(md){
    left: 570px;
  }
}

.footer__decor {
  z-index: -1;
  position: relative;
  @for $i from 1 through 5 {
    .oval--#{$i} {
      width: 530px;
      height: 80px;
      background: none;
      border: 1px solid $c-ink-title;
      border-radius: 50%;
      opacity: 0.3;
      position: absolute;
      left: -545px;
      top: -130px + (($i - 1) * 12px);
    }
    @include respond(md){
      top: 70px;
      left: -210px;
    }
  }
}