@use '../variables' as *;
@use '../mixins' as *;

.networks__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  max-width: 154px;
  img{ 
    width: 20px;
    height: 20px;
    @include respond(md){
      width: 24px;
      height: 24px;
    }
  }
}