@use '../variables' as *;
@use '../mixins' as *;
body{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  overflow-x: hidden;
}


.site-header{
  position: relative;
  background: linear-gradient(180deg, transparent 0%, $c-muted 100%);
  width: 174px;
    /* 📔 */
    @include respond(md){
      width: 100dvw;
      background: transparent;
    }
    /* 💻 */
    @include respond(lg){
      max-width: 1110px;
    }

    .navbar{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 16px 0;
    margin-bottom: 40px;
    /* 📔 */
    @include respond(md){
      flex-direction: row;
      justify-content: space-between;
      max-width: 100dvw;
      margin: 0;
      padding: 29px 32px;
    }
    /* 💻 */
    @include respond(lg){
      padding: 30px 24px 0 0;
    }

    .logo{
      margin-bottom: 20px;
      /* 📔 */
      @include respond(md){
        font-size: 32px;
        letter-spacing: -0.44px;
      }
      &:hover{
        color: $c-accent;
        transition: all 0.6s ease-in-out;
      }
    }
  }

  .header__image{
    display: flex;
    justify-content: center;
    /* 📔 */
    @include respond(md){
      position: absolute;
      right: 0;
      z-index: -1;
      background-color: $c-muted;
      width: 322px;
      height: 587px;
      top: 0;
      /* 💻 */
      @include respond(lg){
        width: 445px;
        height: 720px;
        top: 0px;
      }

      img{
        width: 174px;
        height: 242px;
        z-index: 2;
        /* 📔 */
        @include respond(md){
          position: absolute;
          width: 349px;
          height: 486px;
          top: 120px;
          border: 0;
          z-index: -2;
        }
        /* 💻 */
        @include respond(lg){
          width: 445px;
          height: 618px;
          top: 141px;
        }
      }
    }
  }
}


.hero{
  @include respond(md){
    display: flex;
    max-width: 100dvw;
    width: 100dvw;
    /* 💻 */
    @include respond(lg){
      max-width: 1110px;
    }
  }


  .hero__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0 25px;
    /* 📔 */
    @include respond(md){
      max-width: 445px;
      text-align: left;
      margin: 0;
      padding: 0 32px;
      align-items: flex-start;
      justify-content: left;
    }
    /* 💻 */
    @include respond(lg){
      padding: 0;
    }

    h1{
      margin-bottom: 16px;

      .tablet-only{
        display: none;
      }
      /* 📔 */
      @include respond(md){
        margin-top: 40px;
        margin-bottom: 60px;
        .tablet-only{
          display: inline;
        }
      }
      
      /* 💻 */
      @include respond(lg){
        margin-top: 100px;
        width: 714px;
        .tablet-only{
          display: none;
        }
      }
    }

    p{
      @include respond(md){
        margin-bottom: 34px;
      }
      /* 💻 */
      @include respond(lg){
        margin-top: 16px;
        width: 445px;
        font-size: 18px;
        margin-bottom: 70px;
      }
    }

    span{
      text-decoration-line: underline;
      text-decoration-color: $c-accent;
      text-underline-offset: 8px;
      /* 📔 */
      @include respond(md){
        text-underline-offset: 15px;
      }
      /* 💻 */
      @include respond(lg){
        text-underline-offset: 18px;
        text-decoration-thickness: 3px;
      }
    }
  }
}


.skills{
  padding: 0px 16px;
  /* 💻 */
  @include respond(lg){
    max-width: 1110px;
    padding: 0;
  }

  &__decoration{
    margin-top: 80px;
    margin-bottom: 40px;
    border-top: 1px solid $c-ink;
    width: 95dvw;
    /* 💻 */
    @include respond(lg){
      max-width: 1110px;
      margin-top: 260px;
    }
  }

  &__decoration__2{
    margin-top: 40px;
    /* 📔 */
    @include respond(md){
      display: none;
    }
  }

  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
    gap: 24px;
    /* 📔 */
    @include respond(md){
      grid-template-columns: repeat(2, 1fr);
      gap: 52px;
      max-width: 708 px;
      margin: 0 auto;
      padding: 0 16px;
    }
    /* 💻 */
    @include respond(lg){
      grid-template-columns: repeat(3, 1fr);
      gap: 58px;
      padding: 0;
      margin: 0 auto;
      padding: 0 0px;
    }

    li{
      list-style: none;
      text-align: center;
      /* 📔 */
      @include respond(md){
        text-align: left;
      }

      h3{
        margin: 0px;
        /* 📔 */
        @include respond(md){
          font-size: 48px;
          line-height: 56px;
          letter-spacing: -1.5px;
        }
      }

      p{
        margin: 0;
        margin-top: 1px;
        @include respond(md){
          margin-top: 14px;
        }
      }
    }
  }
}


/* === Projects in /components/_projects === */

/* === Contact in /components/_contact === */



