/* Tipografías */
$font: "Space Grotesk", sans-serif;

/* Colores base */
$c-accent: #4EE1A0;
$c-ink-title: #ffffff;
$c-ink: #d9d9d9;
$c-muted: #242424;  
$c-bg: #151515;


/* Breakpoints */
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;

